<%= link_to user_diary_path(diary.user.name_id,diary), class: 'text-secondary text-decoration-none' do %>
  <div class="card card-index w-80 mx-auto mt-4 <% if diary.emotion == 'unhappy'%>border-primary<% elsif diary.emotion == 'happy' %>border-danger<% else %>border-secondary<% end %>" >
    <div class="card-body">
      <div class="row mx-auto justify-content-center">
        <div class="col-1 d-none d-xl-block pl-0 ">
          <%= image_tag diary.user.get_image(50, 50), class: 'rounded-circle' %>
        </div>
        <div class="col-sm-12 col-xl-11 row p-0">

          <div class="p-0 d-xl-none" styke="width: 50px">
            <%= image_tag diary.user.get_image(50, 50), class: 'rounded-circle' %>
          </div>

          <div class="col-7 d-none d-xl-block">
            <strong><%= diary.user.name %></strong> @<%= diary.user.name_id %>
          </div>
          <div class="col-7 d-xl-none">
            <strong><%= diary.user.name %></strong><br>
            @<%= diary.user.name_id %>
          </div>

          <div class="col-2 col-md-2 col-lg-2 col-xl-3 text-right ml-auto p-0 d-none d-sm-block">
            <%= diary.created_at.strftime('%Y/%m/%d') %>
            <%= diary.created_at.strftime('%H:%M') %>
          </div>
          <div class="col-2 text-right ml-auto p-0 d-sm-none">
            <%= diary.created_at.strftime('%Y') %><br>
            <%= diary.created_at.strftime('%m/%d') %>
            <%= diary.created_at.strftime('%H:%M') %>
          </div>

          <div class="col-12 mt-3 mb-4">
            <%= diary.body.truncate(200) %>
          </div>

          <div class="col-12 d-none d-sm-block">
            <div class="row p-0 m-0">
              <div class="col-4">
              </div>
              <div class="col-2 text-right">
                <i class="far fa-comment mr-1"></i><%= diary.comments.count %>
              </div>
              <div class="col-6 p-0">
                <p class="text-right m-0 my-auto" style="font-size: 13px">コメント：<%= diary.add_commented_i18n %> | 公開設定：<%= diary.public_range_i18n %></p>
              </div>
            </div>
          </div>
          <div class="col-12 d-sm-none">
            <div class="row p-0 m-0">
              <div class="col-3">
              </div>
              <div class="col-3 text-right mt-auto">
                <i class="far fa-comment mr-1"></i><%= diary.comments.count %>
              </div>
              <div class="col-6 p-0">
                <p class="text-right m-0" style="font-size: 10px">
                  コメント：<%= diary.add_commented_i18n %><br>
                  公開設定：<%= diary.public_range_i18n %>
                </p>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
<% end %>
<div class="favorite_btn_<%= diary.id %> text-secondary favorite favorite-position" style="width: 70px">
  <%= render 'public/favorites/favorite', diary: diary %>
</div>