<div class="container">
  <div class="row">
    <div class="col-md-9 col-sm-12 mx-auto">
      <h3>
        <%= @word %>
      </h3>
      <div class="card-list-container hover-zoom jscroll-div">
        <% @diaries.each do |diary| %>
        <!--公開設定の条件分岐　　いい方法がわからん-->
          <% if signed_in? %>
            <% if diary.user.is_public == true %>
              <% if diary.public_range == 'everyone' || (current_user.ff?(diary.user) && diary.public_range == 'in_ff') %>
                <%= render 'index', diary: diary %>
              <% end %>
            <% elsif diary.user == current_user %>
              <%= render 'index', diary: diary %>
            <% end %>
          <% elsif diary.public_range == 'everyone' %>
            <%= render 'index', diary: diary %>
          <% end %>
        <% end %>
      <%= paginate @diaries %>
      </div>
    </div>
  </div>
</div>
