<% if user_signed_in? %>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-10 col-md-12 mx-auto">

        <div class="row mx-2">
          <h3>
            <%= @select_word %>
          </h3>
          <button class="btn btn-lg btn-outline-secondary rounded-pill ml-auto" type="button" data-toggle="collapse" data-target="#collapseSidebar" aria-expanded="false" aria-controls="collapseSidebar">
            <i class="fas fa-bars"></i>
          </button>
        </div>

        <div class="collapse w-100 row justify-content-around pt-2" id="collapseSidebar">
          <div class="col-12 my-2">
            表示する投稿
          </div>
          <div>
            <%= link_to 'いいね', sort_path(word: 'いいね'), class: "btn btn-outline-info rounded-pill" %>
          </div>
          <div>
            <%= link_to 'コメント', sort_path(word: 'コメント'), class: "btn btn-outline-info rounded-pill" %>
          </div>
          <div>
            <%= link_to 'フォロー', sort_path(word: 'フォロー'), class: "btn btn-outline-info rounded-pill" %>
          </div>
          <div>
            <%= link_to 'FF公開', sort_path(word: 'FF公開限定'), class: "btn btn-outline-info rounded-pill" %>
            </div>
        </div>

        <div class="card-list-container jscroll-div">
          <% @diaries.each do |diary| %>
            <% if user_signed_in? %>
              <% if diary.user.is_public? %>
                <% if diary.public_range == 'everyone' || (current_user.ff?(diary.user) && diary.public_range == 'in_ff') || diary.user == current_user %>
                  <%= render 'index', diary: diary %>
                <% end %>
              <% end %>
            <% elsif diary.public_range == 'everyone' && diary.user.is_public == true %>
              <%= render 'index', diary: diary %>
            <% end %>
          <% end %>
          <%= paginate @diaries %>
        </div>
      </div>
    </div>
  </div>
<% else %>
  <%= render 'public/homes/top' %>
<% end %>