<% if user_signed_in? %>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-10 col-md-12 mx-auto">
        <h3>
          <%= @select_word %>
        </h3>
        <div class="card-list-container jscroll-div">
          <% @diaries.each do |diary| %>
            <% if user_signed_in? %>
              <% if diary.user.is_public? %>
                <% if diary.public_range == 'everyone' || (current_user.ff?(diary.user) && diary.public_range == 'in_ff') || diary.user == current_user %>
                  <%= render 'index', diary: diary %>
                <% end %>
              <% end %>
            <% elsif diary.public_range == 'everyone' && diary.user.is_public == true %>
              <%= render 'index', diary: diary %>
            <% end %>
          <% end %>
          <%= paginate @diaries %>
        </div>
      </div>
    </div>
  </div>
<% else %>
  <%= render 'public/homes/about' %>
<% end %>