<div class="col-12 row mx-auto justify-content-center">
  <div>
    <%= link_to history_user_diaries_path(current_user.name_id,month:@month.prev_year), class: 'text-left btn btn-sm btn-outline-primary rounded-circle' do %>
      <i class="fas fa-angle-double-left"></i>
    <% end %>
  </div>
  <div class="ml-2">
    <%= link_to history_user_diaries_path(current_user.name_id,month:@month.prev_month), class: 'text-left btn btn-sm btn-outline-primary rounded-circle' do %>
      <i class="fas fa-angle-left"></i>
    <% end %>
  </div>
  <div class="mx-3">
    <h4><%= @month.strftime('%Y/%m') %>の記録</h4>
  </div>
  <div class="mr-2">
    <%= link_to history_user_diaries_path(current_user.name_id,month:@month.next_month), class: 'text-right btn btn-sm btn-outline-primary rounded-circle' do %>
      <i class="fas fa-angle-right"> </i>
    <% end %>
  </div>
  <div>
    <%= link_to history_user_diaries_path(current_user.name_id,month:@month.next_year), class: 'text-right btn btn-sm btn-outline-primary rounded-circle' do %>
      <i class="fas fa-angle-double-right"></i>
    <% end %>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-12 mx-auto">
      <div class="container-fluid">
        <% if @diaries.present? %>
          <% @diaries.each do |diary| %>
            <% unless diary.created_at.day == @day %>
              <% unless @day == 0 %>
                <div class="col-10 col-md-12 mb-4 mt-5 pt-3 border-bottom"></div>
              <% end %>
              <div class="sm col-2 py-3 d-md-none">
                <%= render 'date', diary: diary %>
              </div>
              <div class="md col-2 pt-3 d-none d-md-block">
                <%= render 'date', diary: diary %>
              </div>
            <% end %>
            <div class="col-12 row m-0 m-md-4 pt-3 justify-content-md-end">
              <div class="col-12 col-md-11 p-0">
                <div class="col-12 row p-0 m-0">
                  <div class="col-12 col-md-11 p-0">
                    <%= link_to user_diary_path(current_user.name_id,diary), class: 'text-dark' do %>
                      <div class="col-12 p-0">
                        <%= diary.created_at.strftime("%H:%M") %>
                      </div>
                      <div class="col-12 p-0 text-break <% if diary.emotion == 'happy' %>text-danger<% elsif diary.emotion == 'unhappy' %>text-primary<% else %>text-dark<% end %>">
                        <%= simple_format(h(diary.body)) %>
                      </div>
                    <% end %>
                  </div>

                  <div class="col-1 d-none d-md-block">
                    <div class="favorite_btn_<%= diary.id %> text-secondary favorite" style="width: 30px">
                      <%= render 'public/favorites/favorite', diary: diary %>
                    </div>
                    <div style="width: 30px">
                      <%= link_to user_diary_path(current_user.name_id,diary), class: 'text-secondary' do %>
                        <i class="far fa-comment mr-1"></i><%= diary.comments.count %>
                      <% end %>
                    </div>
                  </div>
                  <div class="col-12 row m-0 p-0 justify-content-end d-md-none">
                    <div class="favorite_btn_<%= diary.id %> text-secondary favorite mr-3" style="width: 30px">
                      <%= render 'public/favorites/favorite', diary: diary %>
                    </div>
                    <div style="width: 30px">
                      <%= link_to user_diary_path(current_user.name_id,diary), class: 'text-secondary' do %>
                        <i class="far fa-comment mr-1"></i><%= diary.comments.count %>
                      <% end %>
                    </div>
                  </div>

                </div>
              </div>
            </div>
            <% @day = diary.created_at.day %>
          <% end %>
        <% else %>
          <h5 class="text-center mt-3">投稿がありません</h5>
        <% end %>
      </div>
    </div>
  </div>
</div>

