<div class="col-12 row justify-content-center">
  <div>
    <%= link_to history_user_diaries_path(current_user.name_id,month:@month.prev_month), class: 'text-left btn btn-sm btn-outline-primary rounded-circle' do %>
      <i class="fas fa-arrow-left"></i>
    <% end %>
  </div>
  <div class="mx-2">
    <h4><%= @month.strftime('%Y/%m') %>の記録</h4>
  </div>
  <div>
    <%= link_to history_user_diaries_path(current_user.name_id,month:@month.next_month), class: 'text-right btn btn-sm btn-outline-primary rounded-circle' do %>
      <i class="fas fa-arrow-right"></i>
    <% end %>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-9 col-sm-12 mx-auto">
      <div class="card-list-container jscroll-div">
        <% @diaries.each do |diary| %>
          <% if user_signed_in? %>
            <% if diary.user == current_user %>
              <%= render 'public/homes/index', diary: diary %>
            <% elsif diary.user.is_public? %>
              <% if diary.public_range == 'everyone' || (current_user.ff?(diary.user) && diary.public_range == 'in_ff') %>
                <%= render 'public/homes/index', diary: diary %>
              <% end %>
            <% end %>
          <% else %>
            <%= render 'public/homes/index', diary: diary %>
          <% end %>
        <% end %>
        <%= paginate @diaries %>
      </div>
    </div>
  </div>
</div>

