<div class="container">
  <div class="col-10 card w-80 mx-auto mt-4 <% if @diary.emotion == 'unhappy'%>border-primary<% elsif @diary.emotion == 'happy' %>border-danger<% else %>border-secondary<% end %>">
    <div class="card-body">
      <diV class="row">
        <div class="col-1 pr-1">
          <%= link_to user_path(@diary.user.name_id) do %>
            <%= image_tag @diary.user.get_image(50, 50), class: 'rounded-circle' %>
          <% end %>
        </div>
        <div class="col-11">
          <div class="row">
            <div class="col-10 pb-2">
              <%= @diary.user.name %> @<%= @diary.user.name_id %>
            </div>
            <div class="col-2">
              <%= @diary.created_at.strftime('%Y/%m/%d') %>
            </div>
            <div class="col-10">
              <%= @diary.body %>
            </div>
            <div class="col-2">
              <%= @diary.emotion_i18n %>
            </div>
            <div class="col-12 mb-3">
              <div class="text-right">
                <% if @diary.user == current_user %>
                  <%= link_to '編集する', edit_user_diary_path(@diary.user.name_id, @diary), data: {"turbolinks" => false} %>
                  <%= link_to '削除', user_diary_path(@diary.user.name_id, @diary), method: :delete, data: {confirm: '本当に削除しますか？'} %>
                <% end %>
              </div>
            </div>
            <div class="col-12 row px-0 mb-5  mx-0">
              <div class="col-4">
                <div class="favorite_btn_<%= @diary.id %> text-secondary favorite" style="width: 40px">
                  <%= render 'public/favorites/favorite', diary: @diary %>
                </div>
              </div>
              <div class="col-2 text-right">
                <i class="far fa-comment mr-1"></i><%= @diary.comments.count %>
              </div>
              <div class="col-6 p-0">
                <p class="text-right m-0">コメント：<%= @diary.add_commented_i18n %> | 公開設定：<%= @diary.public_range_i18n %></p>
              </div>
            </div>
            <div class="col-12">
              <% @diary.comments.each do |comment| %>
                <div class="row p-0">
                  <div class="col-1 p-0">
                    <%= link_to user_path(comment.user.name_id) do %>
                      <%= image_tag comment.user.get_image(50,50), class: 'rounded-circle' %>
                    <% end %>
                  </div>
                  <div class="col-11 row">
                    <div class="col-12">
                      <div class="row">
                        <div class="col-10">
                          <%= comment.user.name %> @<%= comment.user.name_id %>
                        </div>
                        <div class="col-2 ml-auto">
                          <% if comment.user == current_user %>
                            <%= link_to '削除', user_diary_comment_path(@diary.user.name_id, comment.diary.id, comment.id), method: :delete, class: 'ml-2' %>
                          <% end %>
                        </div>
                        <div class="col-12 pb-2">
                          <%= comment.body %>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
            <div class="col-12">
              <% if @diary.add_commented? && user_signed_in? %>
                <%= form_with model: @comment, url: user_diary_comments_path(@diary.user.name_id, @diary), method: :post do |f| %>
                  <%= f.text_area :body, class: 'form-control' %>
                  <div class="text-right">
                    <%= f.submit '送信' %>
                  </div>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>