<div class="container-fluid">
  <div class="row">
    <div class="col-lg-10 col-md-12 mx-auto">
      <div class="card-list-container">
        <div class="text-right">
          <% if @diary.user == current_user %>
            <%= link_to edit_user_diary_path(@diary.user.name_id, @diary),class: 'btn btn-lg  btn-outline-primary rounded-pill mr-2', data: {"turbolinks" => false} do %>
              <i class="fas fa-edit"></i>
            <% end %>
            <%= link_to user_diary_path(@diary.user.name_id, @diary), method: :delete,class: 'btn btn-lg  btn-outline-danger rounded-circle', data: {confirm: '本当に削除しますか？'} do %>
              <i class="fas fa-trash"></i>
            <% end %>
          <% end %>
        </div>
        <div class="card w-80 mx-auto mt-4 <% if @diary.emotion == 'unhappy'%>border-primary<% elsif @diary.emotion == 'happy' %>border-danger<% else %>border-secondary<% end %>" >
          <div class="card-body">
            <div class="row mx-auto justify-content-center">
              <div class="col-1 d-none d-xl-block pl-0 ">
                <%= link_to user_path(@diary.user.name_id) do %>
                  <%= image_tag @diary.user.get_image(50, 50), class: 'rounded-circle' %>
                <% end %>
              </div>
              <div class="col-sm-12 col-xl-11 row p-0">

                <div class="col-2 col-sm-1 col-md-1 col-lg-1 p-0 d-xl-none">
                  <%= link_to user_path(@diary.user.name_id) do %>
                    <%= image_tag @diary.user.get_image(50, 50), class: 'rounded-circle' %>
                  <% end %>
                </div>

                <div class="col-9 d-none d-lg-block">
                  <%= link_to user_path(@diary.user.name_id), class: 'text-dark' do %>
                    <strong><%= @diary.user.name %></strong> @<%= @diary.user.name_id %>
                  <% end %>
                </div>
                <div class="col-8 col-sm-9 d-lg-none">
                  <%= link_to user_path(@diary.user.name_id), class: 'text-dark' do %>
                    <strong><%= @diary.user.name %></strong><br>
                    @<%= @diary.user.name_id %>
                  <% end %>
                </div>

                <div class="col-2 col-md-2 col-lg-2 col-xl-3 text-right p-0 d-none d-sm-block">
                  <%= @diary.created_at.strftime('%Y/%m/%d') %>
                </div>
                <div class="col-2 text-right p-0 d-sm-none">
                  <%= @diary.created_at.strftime('%Y') %><br>
                  <%= @diary.created_at.strftime('%m/%d') %>
                </div>

                <div class="col-12 mt-3 mb-4">
                  <%= simple_format(h(@diary.body)) %>
                </div>

                <div class="col-12 d-none d-sm-block">
                  <div class="row p-0 m-0">
                    <div class="col-4 mx-auto">
                      <div class="favorite_btn_<%= @diary.id %> text-secondary favorite" style="width: 40px">
                        <%= render 'public/favorites/favorite', diary: @diary %>
                      </div>
                    </div>
                    <div class="col-2 text-right">
                      <i class="far fa-comment mr-1"></i><%= @diary.comments.count %>
                    </div>
                    <div class="col-6 p-0">
                      <p class="text-right m-0 my-auto" style="font-size: 13px">コメント：<%= @diary.add_commented_i18n %> | 公開設定：<%= @diary.public_range_i18n %></p>
                    </div>
                  </div>
                </div>
                <div class="col-12 d-sm-none">
                  <div class="row p-0 m-0">
                    <div class="col-3 mt-auto">
                      <div class="favorite_btn_<%= @diary.id %> text-secondary favorite" style="width: 40px">
                        <%= render 'public/favorites/favorite', diary: @diary %>
                      </div>
                    </div>
                    <div class="col-3 text-right mt-auto">
                      <i class="far fa-comment mr-1"></i><%= @diary.comments.count %>
                    </div>
                    <div class="col-6 p-0">
                      <p class="text-right m-0" style="font-size: 10px">
                        コメント：<%= @diary.add_commented_i18n %><br>
                        公開設定：<%= @diary.public_range_i18n %>
                      </p>
                    </div>
                  </div>
                </div>

                <div class="col-11 col-md-10 m-3 mr-3 border-bottom"></div>

                <% if @diary.add_commented_i18n == '許可' && user_signed_in? %>
                  <div class="col-12">
                    <%= form_with model: @comment, url: user_diary_comments_path(@diary.user.name_id, @diary), method: :post do |f| %>
                      <%= f.text_field :body, placeholder: 'コメントを送信',required: true,class: 'form-control' %>
                      <div class="col-10 mx-auto mt-2">
                        <%= f.submit '送信', class: 'btn btn-block btn-outline-primary rounded-pill' %>
                      </div>
                    <% end %>
                  </div>
                <% else %>
                  <p class="col-12 text-center">コメントは禁止されています。</p>
                <% end %>

                <div class="col-12">
                  <% @diary.comments.each do |comment| %>
                    <div class="row p-0 my-3">
                      <div class="col-2 col-md-1 col-lg-2 col-xl-1 p-0 d-none d-md-block">
                        <%= link_to user_path(comment.user.name_id) do %>
                          <%= image_tag comment.user.get_image(50,50), class: 'rounded-circle' %>
                        <% end %>
                      </div>
                      <div class="col-12 col-md-10 row">
                        <div class="col-2 col-sm-1 p-0 d-md-none">
                          <%= link_to user_path(comment.user.name_id) do %>
                            <%= image_tag comment.user.get_image(40,40), class: 'rounded-circle' %>
                          <% end %>
                        </div>
                        <div class="col-10 col-sm-11 col-md-12 row m-0 p-0">
                          <div class="col-10">
                            <%= link_to user_path(comment.user.name_id), class: 'text-dark' do %>
                              <strong><%= comment.user.name %></strong><div class="d-md-none"></div> @<%= comment.user.name_id %>
                            <% end %>
                          </div>
                          <% if comment.user == current_user || @diary.user == current_user %>
                            <div class="col-2 p-0 text-right">
                              <%= link_to user_diary_comment_path(@diary.user.name_id,@diary,comment), method: :delete, data: {confirm: '本当に削除しますか？'}, class: 'btn btn-outline-danger rounded-circle ml-auto' do%>
                                <i class="fas fa-trash"></i>
                              <% end %>
                            </div>
                          <% end %>
                          <div class="col-12 pb-2 d-none d-md-block">
                            <%= comment.body %>
                          </div>
                        </div>
                        <div class="col-12 pb-2 d-md-none mt-2">
                          <%= comment.body %>
                        </div>
                      </div>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>