<div class="container-fluid">
  <div class="row">
    <div class="col-10 mx-auto pb-4 border-bottom border-dark">
      <div class="row">
        <div class="col-2">
          <%= image_tag @user.get_image(100,100), class: 'rounded-circle'%>
        </div>
        <div class="row col-10">
          <div class="col-8 p-0">
            <div>
              <strong><%= @user.name %></strong> @<%= @user.name_id %> <span class="border p-1 rounded-pill"><% if @user.is_public? %>公開<% else %>非公開<% end %></span><% if @user.is_deleted? %><span class="border border-danger p-1 rounded-pill text-danger">凍結</span><% end %>
            </div>
            <div>
              <% if @user.is_public? %>
                <%= link_to follows_user_path(@user.name_id) do %>
                  フォロー<%= @user.following_user.count %>
                <% end %>
                |
                <%= link_to followers_user_path(@user.name_id) do %>
                  フォロワー<%= @user.follower_user.count %>
                <% end %>
              <% else %>
                フォロワー<%= @user.follower_user.count %>
                |
                フォロー<%= @user.following_user.count %>
              <% end %>
            </div>
          </div>
          <div class="col-4 p-0 text-right">
            <%= link_to 'プロフィール設定', edit_admin_user_path(@user), data: {"turbolinks" => false}, class: 'btn btn-outline-success rounded-pill' %>
          </div>
          <div class="col-12 row pt-3">
            <%= @user.introduction %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-9 col-sm-12 mx-auto">
      <div class="card-list-container jscroll-div">
        <% @diaries.each do |diary| %>
          <%= render 'public/homes/index', diary: diary %>
        <% end %>
        <%= paginate @diaries %>
      </div>
    </div>
  </div>
</div>