<div class="container">
  <div class="col-11 card w-80 mx-auto mt-4 shadow-sm form-color">
    <div class="card-body col-12 row justify-content-center mx-auto">
      <div class="col-12">
        <h3 class="text-center pb-3">ログイン</h3>
      </div>
      <%= form_with model: @user, url: user_session_path, class: 'col-12 justify-content-center' do |f| %>
      　<%= render "public/shared/error_messages", resource: @user %>
        <div class="form-group row mb-4">
          <div class="col-2">
            <%= f.label :name_id, 'Name_ID' %>
          </div>
          <div class="col-10">
            <%= f.text_field :name_id, autofocus: true, autocomplete: "name_id", class: 'form-control' %>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-2">
            <%= f.label :password %>
          </div>
          <div class="col-10">
            <%= f.password_field :password, autocomplete: "current-password", class: 'form-control' %>
          </div>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="field col-12">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end %>

        <div class="col-12 row mx-auto my-4 p-0">
          <div class="col-12 p-2">
            <%= f.submit "ログイン", class: 'btn btn-outline-success btn-block mx-auto rounded-pill' %>
          </div>
        </div>
        <div class="row col-12 mx-auto p-0">
          <div class="col-12">
            <div class="text-line mx-auto">
              <span><i class="fas fa-caret-right"></i> 会員登録がお済みでない方 <i class="fas fa-caret-left"></i></span>
            </div>
          </div>
          <div class="col-12 mx-auto p-2">
            <%= link_to "新規登録はこちら", new_registration_path(resource_name), class: "btn btn-outline-primary btn-block rounded-pill" %>
          </div>
        </div>

      <% end %>
    </div>
  </div>
</div>