<div class="row mt-2">

  <div class="col-2 d-none d-md-block">
    <%= link_to user_path(user.name_id) do %>
      <%= image_tag user.get_image(100,100), class: 'rounded-circle'%>
    <% end %>
  </div>
  <div class="col-3 col-sm-2 d-md-none">
    <%= link_to user_path(user.name_id) do %>
      <%= image_tag user.get_image(50,50), class: 'rounded-circle'%>
    <% end %>
  </div>
  <div class="row col-9 col-sm-10">
    <div class="col-11 col-lg-8 p-0">
      <div class="d-md-none">
        <%= link_to user_path(user.name_id), class: 'text-dark' do %>
          <strong><%= user.name %></strong> <span class="border p-1 rounded-pill"><% if user.is_public? %>公開<% else %>非公開<% end %></span><br>
          @<%= user.name_id %>
        <% end %>
      </div>
      <div class="d-none d-md-block">
        <%= link_to user_path(user.name_id), class: 'text-dark' do %>
          <strong><%= user.name %></strong> @<%= user.name_id %> <span class="border p-1 rounded-pill"><% if user.is_public? %>公開<% else %>非公開<% end %></span>
        <% end %>
      </div>
      <div class="d-none d-md-block">
        <% if user.is_public? || user == current_user %>
          <%= link_to follows_user_path(user.name_id) do %>
            フォロー<%= user.following_user.count %>
          <% end %>
          |
          <%= link_to followers_user_path(user.name_id) do %>
            フォロワー<%= user.follower_user.count %>
          <% end %>
        <% else %>
          フォロー<%= user.following_user.count %>
          |
          フォロワー<%= user.follower_user.count %>
        <% end %>
      </div>
    </div>
    <div class=" d-lg-none col-1 ml-auto p-0 text-right">
      <% if user_signed_in? && user == current_user %>
        <%= link_to edit_user_path(user.name_id), data: {"turbolinks" => false}, class: 'btn btn-outline-success rounded-pill' do %>
          <i class="fas fa-user-edit"></i>
        <% end %>
      <% elsif current_user != user && user_signed_in? %>
        <% if current_user.following?(user) %>
          <%= link_to user_relationships_path(user.name_id), method: :delete, class: 'btn btn-sm btn-outline-danger rounded-pill' do %>
            <i class="fas fa-kiss-wink-heart"></i>
          <% end %>
        <% else %>
          <%= link_to user_relationships_path(user.name_id), method: :post, class: 'btn btn-sm btn-outline-primary rounded-pill' do %>
            <i class="fas fa-kiss"></i>
          <% end %>
        <% end %>
        <div class="text-right">
          <% if current_user.follower?(user) %>
            フォローされています
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="d-md-none">
      <% if user.is_public? || user == current_user %>
        <%= link_to follows_user_path(user.name_id) do %>
          フォロー<%= user.following_user.count %>
        <% end %>
        |
        <%= link_to followers_user_path(user.name_id) do %>
          フォロワー<%= user.follower_user.count %>
        <% end %>
      <% else %>
        フォロー<%= user.following_user.count %>
        |
        フォロワー<%= user.follower_user.count %>
      <% end %>
    </div>

    <div class=" d-none d-lg-block col-4 p-0 text-right">
      <% if user_signed_in? && user == current_user %>
        <div>
          <%= link_to 'プロフィール設定', edit_user_path(user.name_id), data: {"turbolinks" => false}, class: 'btn btn-outline-success rounded-pill' %>
        </div>
      <% elsif current_user != user && user_signed_in? %>
        <% if current_user.following?(user) %>
          <%= link_to 'フォロー外す', user_relationships_path(user.name_id), method: :delete, class: 'btn btn-sm btn-outline-danger rounded-pill' %>
        <% else %>
          <%= link_to 'フォローする', user_relationships_path(user.name_id), method: :post, class: 'btn btn-sm btn-outline-primary rounded-pill' %>
        <% end %>
        <div class="text-right">
          <% if current_user.follower?(user) %>
            フォローされています
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="col-12 row pt-3 text-break d-none d-md-block">
      <% if user.is_deleted? %>
        <h4>このアカウントは凍結されています。</h4>
      <% else %>
        <%= user.introduction %>
      <% end %>
    </div>
  </div>
  <div class="col-12 pt-3 text-break d-md-none">
    <% if user.is_deleted? %>
      <h4>このアカウントは凍結されています。</h4>
    <% else %>
      <%= user.introduction %>
    <% end %>
  </div>
</div>