<div class="container-fluid">
  <div class="col-11 col-xl-8 col-xxl-6 card mx-auto mt-4 shadow-sm form-color">
    <div class="card-body col-12 row justify-content-center mx-auto">
      <div class="col-12">
        <h3 class="text-center pb-3">プロフィール編集</h3>
      </div>
      <%= form_with model: @user, url: user_path(@user.name_id), method: :patch, class: 'col-12 justify-content-center' do |f| %>
        <div class="form-group mb-4 row">
          <div class="col-12 col-lg-2">
            <%= f.label :image, '画像' %>
          </div>
          <div class="col-12 col-lg-10">
            <%= f.file_field :image, accept: "image/*" %>
          </div>
        </div>

        <div class="form-group mb-4 row">
          <div class="col-12 col-lg-2">
            <%= f.label :name, '名前' %>
          </div>
          <div class="col-12 col-lg-10">
            <%= f.text_field :name, autofocus: true, autocomplete: "name",required: true, class: 'form-control' %>
          </div>
        </div>

        <div class="form-group mb-4 row">
          <div class="col-12 col-lg-2">
            <%= f.label :name_id, 'ユーザーID' %>
          </div>
          <div class="col-12 col-lg-10">
            <%= f.text_field :name_id, autofocus: true, autocomplete: "name_id", placeholder: "半角英数3文字以上(_使用可)", pattern: "^[a-zA-Z0-9_]+$",minlength:"3",required: true, class: 'form-control' %>
          </div>
        </div>

        <div class="form-group mb-4 row">
          <div class="col-12 col-lg-2">
            <%= f.label :introduction, '自己紹介' %>
          </div>
          <div class="col-12 col-lg-10">
            <%= f.text_area :introduction, autofocus: true, autocomplete: "introduction",maxlength:"255",id:"introduction", onKeyup:"count_length('introduction','introduction_count',255);", class: 'form-control' %>
            <p id="introduction_count" class="counter">現在0文字</p>
          </div>
        </div>

        <div class="form-group mb-4 row">
          <div class="col-12 col-lg-2">
            <%= f.label :email, 'メールアドレス' %>
          </div>
          <div class="col-12 col-lg-10">
            <%= f.email_field :email, autofocus: true, autocomplete: "email",required: true, class: 'form-control' %>
          </div>
        </div>

        <div class="form-group mb-4 row">
          <div class="col-12 col-lg-2">
            <%= f.label :add_commented, '公開設定', class: 'form-label' %>
          </div>
          <div class="col-12 col-lg-10 btn-group" data-toggle="buttons" >
            <label class="btn btn-outline-secondary" style="width: 33%">
              <%= f.radio_button :is_public, true, class: 'btn_icon_none' %>公開
            </label>
            <label class="btn btn-outline-secondary" style="width: 33%">
              <%= f.radio_button :is_public, false, class: 'btn_icon_none' %>非公開
            </label>
          </div>
        </div>

        <div class="form-group">
          <%= f.submit "保存", class: 'btn btn-outline-primary btn-block rounded-pill' %>
        </div>

      <% end %>
    </div>
  </div>
</div>

<script>
  function count_length(Field,Messge,MaxLength){
    var Current = document.getElementById(Field).value.length;
    var ColorClass = "green";
    var Limit;
    if (MaxLength && MaxLength>0){
      var Limit = MaxLength - Current;
      if (Limit < 0 ){ColorClass="red";}
        document.getElementById(Messge).innerHTML = "現在"+
          Current+"文字 <span class='"+ColorClass+
            "'>あと"+Limit+"文字</span>";
      } else {
        document.getElementById(Messge).innerHTML = "現在"+
          Current+"文字";
    }
  }

  $(document).ready(function(){
    count_length('introduction','introduction_count',255);
  });
</script>