<h2>プロフィール設定</h2>
<%= form_with model: @user, url: user_path(@user.name_id), method: :patch do |f| %>
  <%= render "public/shared/error_messages", resource: @user %>
  <div class="field">
    <%= f.label :image %><br />
    <%= f.file_field :image, accept: "image/*" %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
  </div>

  <div class="field">
    <%= f.label :name_id, '名前' %><br />
    <%= f.text_field :name_id, autofocus: true, autocomplete: "name_id" %>
  </div>

  <div class="field">
    <%= f.label :introduction, '自己紹介' %><br />
    <%= f.text_area :introduction, autofocus: true, autocomplete: "introduction" %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="form_group row">
    <div class="col-2">
      <%= f.label :add_commented, '公開設定', class: 'form-label' %>
    </div>
    <div class="col-10 btn-group" data-toggle="buttons" >
      <label class="btn btn-outline-secondary" style="width: 33%">
        <%= f.radio_button :is_public, true %>公開
      </label>
      <label class="btn btn-outline-secondary" style="width: 33%">
        <%= f.radio_button :is_public, false %>非公開
      </label>
    </div>
  </div>

  <div class="actions">
    <%= f.submit "更新" %>
  </div>

<% end %>
