<div class="container-fluid">
  <div class="row">
    <div class="col-lg-10 col-md-12 mx-auto pb-4 border-bottom border-dark">
      <%= render 'index', user: @user %>
    </div>
    <div class="col-12 col-lg-10 mx-auto">
      <div class="card-list-container jscroll-div">
        <% @diaries.each do |diary| %>
          <% if user_signed_in? %>
            <% if diary.user == current_user %>
              <%= render 'public/homes/index', diary: diary %>
            <% elsif @user.is_public? %>
              <% if diary.public_range == 'everyone' || (current_user.ff?(diary.user) && diary.public_range == 'in_ff') %>
                <%= render 'public/homes/index', diary: diary %>
              <% end %>
            <% end %>
          <% elsif @user.is_public? && diary.public_range == 'everyone' %>
            <%= render 'public/homes/index', diary: diary %>
          <% end %>
        <% end %>
        <%= paginate @diaries %>
      </div>
    </div>
  </div>
</div>