<div class="container">
  <div class="row">
    <div class="col-11 mx-auto">
      <div class="row">
        <div>
          <%= image_tag @user.get_image(100,100), class: 'rounded-circle'%>
        </div>
        <div>
          <%= @user.name %>
          <%= @user.name_id %>
          <%= link_to follows_user_path(@user.name_id) do %>
            <p>フォロー<%= @user.following_user.count %></p>
          <% end %>
          <%= link_to followers_user_path(@user.name_id) do %>
            <p>フォロワー<%= @user.follower_user.count %></p>
          <% end %>
          <% if user_signed_in? && @user == current_user %>
            <%= link_to 'プロフィール設定', edit_user_path(@user.name_id), data: {"turbolinks" => false} %>
          <% end %>
          <% if current_user != @user && user_signed_in? %>
            <% if current_user.follower?(@user) %>
              <p>フォローされています</p>
            <% end %>
            <% if current_user.following?(@user) %>
              <%= link_to 'フォロー外す', user_relationships_path(@user.name_id), method: :delete, class: 'btn-sm btn-outline' %>
            <% else %>
              <%= link_to 'フォローする', user_relationships_path(@user.name_id), method: :post, class: 'btn-sm btn-outline' %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-9 mx-auto">
      <div class="card-list-container jscroll-div">
        <% @diaries.each do |diary| %>
          <%= render 'public/homes/index', diary: diary %>
        <% end %>
        <%= paginate @diaries %>
      </div>
    </div>
  </div>
</div>