<div class="container">
  <div class="row">
    <div class="col-11 mx-auto">
      <div class="row">
        <div>
          <%= image_tag @user.get_image(100,100) %>
        </div>
        <div>
          <%= @user.name %>
          <%= @user.name_id %>
          <%= link_to 'プロフィール設定', edit_user_path(@user.name_id) %>
        </div>
      </div>
    </div>
    <div class="col-9 mx-auto">
      <div class="card-list-container">
        <% @user.diaries.reverse.each do |diary| %>
          <%= link_to user_diary_path(diary.user.name_id,diary) do %>
            <div class="card w-80 mx-auto mt-4 shadow-sm">
              <div class="card-body">
                <diV class="row">
                  <div class="pr-1">
                    <%= image_tag diary.user.get_image(50, 50), class: 'rounded-circle' %>
                  </div>
                  <div class="col-10">
                    <div>
                      <%= diary.user.name %> @<%= diary.user.name_id %>
                    </div>
                    <div class="mt-3">
                      <%= diary.body %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>