<div class="container">
  <div class="row">
    <div class="col-10 mx-auto pb-4 border-bottom border-dark">
      <div class="row">
        <div class="col-2">
          <%= image_tag @user.get_image(100,100), class: 'rounded-circle'%>
        </div>
        <div class="row col-10">
          <div class="col-8 p-0">
            <div>
              <strong><%= @user.name %></strong> @<%= @user.name_id %> <span class="border p-1 rounded-pill"><% if @user.is_public? %>公開<% else %>非公開<% end %></span>
            </div>
            <div>
              <% if @user.is_public? || @user == current_user %>
                <%= link_to follows_user_path(@user.name_id) do %>
                  フォロー<%= @user.following_user.count %>
                <% end %>
                |
                <%= link_to followers_user_path(@user.name_id) do %>
                  フォロワー<%= @user.follower_user.count %>
                <% end %>
              <% else %>
                フォロー<%= @user.following_user.count %>
                |
                フォロワー<%= @user.follower_user.count %>
              <% end %>
            </div>
          </div>
          <div class="col-4 p-0 text-right">
            <% if user_signed_in? && @user == current_user %>
              <%= link_to 'プロフィール設定', edit_user_path(@user.name_id), data: {"turbolinks" => false}, class: 'btn btn-outline-success rounded-pill' %>
            <% elsif current_user != @user && user_signed_in? %>
              <% if current_user.following?(@user) %>
                <%= link_to 'フォロー外す', user_relationships_path(@user.name_id), method: :delete, class: 'btn btn-sm btn-outline-danger rounded-pill' %>
              <% else %>
                <%= link_to 'フォローする', user_relationships_path(@user.name_id), method: :post, class: 'btn btn-sm btn-outline-primary rounded-pill' %>
              <% end %>
              <div class="text-right">
                <% if current_user.follower?(@user) %>
                  フォローされています
                <% end %>
              </div>
            <% end %>
          </div>
          <div class="col-12 row pt-3">
            <% if @user.is_deleted? %>
              <h4>このアカウントは凍結されています。</h4>
            <% else %>
              <%= @user.introduction %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-9 col-sm-12 mx-auto">
      <div class="card-list-container jscroll-div">
        <% @diaries.each do |diary| %>
          <% if user_signed_in? %>
            <% if diary.user == current_user %>
              <%= render 'public/homes/index', diary: diary %>
            <% elsif @user.is_public? %>
              <% if diary.public_range == 'everyone' || (current_user.ff?(diary.user) && diary.public_range == 'in_ff') %>
                <%= render 'public/homes/index', diary: diary %>
              <% end %>
            <% end %>
          <% elsif @user.is_public? && diary.public_range == 'everyone' %>
            <%= render 'public/homes/index', diary: diary %>
          <% end %>
        <% end %>
        <%= paginate @diaries %>
      </div>
    </div>
  </div>
</div>