
  <nav class="navbar sticky-top navbar-expand-lg shadow-sm header-color">
    <div class="navbar-brand col-4">
      <% if admin_signed_in? %>
        <%= link_to admin_home_path do %>
          <%= image_tag 'logo.png',alt: 'ロゴ', size: '180x60' %>
        <% end %>
      <% else %>
        <%= link_to root_path do %>
          <%= image_tag 'logo.png',alt: 'ロゴ', size: '180x60' %>
        <% end %>
      <% end %>
    </div>

    <div class="mx-auto d-none d-lg-block">
      <% if user_signed_in? || admin_signed_in? %>
        <%= form_with url: search_path, local: true, method: :get, class: 'row' do |f| %>
          <%= f.hidden_field :range, value: 'Diary' %>
          <div class ="row m-0 p-0 border rounded-pill bg-white">
            <div class="w-80">
              <%= f.text_field :word, value: @word, placeholder: 'キーワード検索', class: 'form-control border-0 rounded-pill' %>
            </div>
            <div class="w-20 text-right">
              <%= button_tag type: 'submit', class: 'btn w-20 text-right rounded-pill' do %>
                <i class="fas fa-search"></i>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>

    <ul class="navbar-nav ml-auto p-2 rounded-pill d-none d-lg-block" style="background-color: #fff">
      <% if user_signed_in? %>
        <li class="list-inline-item">
          <%= link_to current_user.name, user_path(current_user.name_id), class: "btn rounded-pill" %>
        </li>
        <li class="list-inline-item">
          <%= link_to '新規投稿', new_user_diary_path(current_user.name_id), class: "btn rounded-pill", data: {"turbolinks" => false} %>
        </li>
        <li class="list-inline-item">
          <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "btn rounded-pill" %>
        </li>
      <% elsif admin_signed_in? %>
        <li class="list-inline-item">
          <%= link_to 'ユーザー', admin_users_path, class: 'btn rounded-pill' %>
        </li>
        <li class="list-inline-item">
          <%= link_to 'ログアウト', destroy_admin_session_path, method: :delete, class: 'btn rounded-pill' %>
        </li>
      <% else %>
        <li class="list-inline-item">
          <%= link_to '新規登録', new_user_registration_path, class: "btn rounded-pill", data: {"turbolinks" => false} %>
        </li>
        <li class="list-inline-item">
          <%= link_to 'ゲストログイン（閲覧用）', users_guest_sign_in_path, class: "btn rounded-pill", method: :post %>
        </li>
        <li class="list-inline-item">
          <%= link_to 'ログイン', new_user_session_path, class: "btn rounded-pill" %>
        </li>
      <% end %>
    </ul>
    <ul class="navbar-nav ml-auto p-2 rounded-pill d-lg-none" style="background-color: #fff">
      <div>
        <% if user_signed_in? || admin_signed_in? %>
          <button class="btn rounded-pill" type="button" data-toggle="collapse" data-target="#collapseSearch" aria-expanded="false" aria-controls="collapseSearch">
            <i class="fas fa-search"></i>
          </button>
        <% end %>
        <button class="btn rounded-pill" type="button" data-toggle="collapse" data-target="#collapseHeader" aria-expanded="false" aria-controls="collapseHeader">
          <i class="fas fa-bars"></i>
        </button>
      </div>
    </ul>
    <ul class="collapse row col-12 justify-content-center col-lg-none" id="collapseSearch">
        <% if user_signed_in? || admin_signed_in? %>
          <%= form_with url: search_path, local: true, method: :get do |f| %>
            <%= f.hidden_field :range, value: 'Diary' %>
            <div class ="row m-0 p-0 border rounded-pill bg-white">
              <div class="">
                <%= f.text_field :word, value: @word, placeholder: 'キーワード検索', class: 'form-control border-0 rounded-pill' %>
              </div>
              <div class="text-right">
                <%= button_tag type: 'submit', class: 'btn w-20 text-right rounded-pill' do %>
                  <i class="fas fa-search"></i>
                <% end %>
              </div>
            </div>
          <% end %>
        <% end %>
    </ul>
    <ul class="collapse col-12 list-unstyled text-right" id="collapseHeader">
      <% if user_signed_in? %>
        <li>
          <%= link_to current_user.name, user_path(current_user.name_id), class: "btn rounded-pill" %>
        </li>
        <li>
          <%= link_to '新規投稿', new_user_diary_path(current_user.name_id), class: "btn rounded-pill", data: {"turbolinks" => false} %>
        </li>
        <li>
          <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "btn rounded-pill" %>
        </li>
      <% elsif admin_signed_in? %>
        <li>
          <%= link_to 'ユーザー', admin_users_path, class: 'btn rounded-pill' %>
        </li>
        <li>
          <%= link_to 'ログアウト', destroy_admin_session_path, method: :delete, class: 'btn rounded-pill' %>
        </li>
      <% else %>
        <li>
          <%= link_to '新規登録', new_user_registration_path, class: "btn rounded-pill", data: {"turbolinks" => false} %>
        </li>
        <li>
          <%= link_to 'ゲストログイン（閲覧用）', users_guest_sign_in_path, class: "btn rounded-pill", method: :post %>
        </li>
        <li>
          <%= link_to 'ログイン', new_user_session_path, class: "btn rounded-pill" %>
        </li>
      <% end %>
    </ul>
  </nav>