
  <nav class="navbar sticky-top navbar-expand-lg shadow-sm bg-" style="background-color: #d4ebec;">
    <div class="navbar-brand col-1">
      <%= link_to root_path do %>
        <%= image_tag 'logo.png',alt: 'ロゴ', size: '180x60' %>
      <% end %>
    </div>

    <ul class="navbar-nav ml-auto">
      <% if user_signed_in? %>
        <li>
          <%= link_to current_user.name, user_path(current_user.name_id), class: "btn" %>
        </li>
        <li>
          <%= link_to 'ツイート', new_user_diary_path(current_user.name_id), class: "btn", data: {"turbolinks" => false} %>
        </li>
        <li>
          <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "btn"  %>
        </li>
      <% else %>
        <li>
          <%= link_to 'about', about_path, class: "btn" %>
        </li>
        <li>
          <%= link_to '新規登録', new_user_registration_path, class: "btn" %>
        </li>
        <li>
          <%= link_to 'ゲストログイン（閲覧用）', users_guest_sign_in_path, class: "btn", method: :post %>
        </li>
        <li>
          <%= link_to 'ログイン', new_user_session_path, class: "btn" %>
        </li>
      <% end %>
    </ul>
  </nav>