
  <nav class="navbar sticky-top navbar-expand-lg shadow-sm header-color">
    <div class="navbar-brand col-4">
      <% if admin_signed_in? %>
        <%= link_to admin_home_path do %>
          <%= image_tag 'logo.png',alt: 'ロゴ', size: '180x60' %>
        <% end %>
      <% else %>
        <%= link_to root_path do %>
          <%= image_tag 'logo.png',alt: 'ロゴ', size: '180x60' %>
        <% end %>
      <% end %>
    </div>

    <div class="mx-auto">
      <% if user_signed_in? %>
        <%= link_to 'History', history_user_diaries_path(current_user.name_id), class: 'btn btn-lg rounded-pill' %>
      <% end %>
    </div>

    <ul class="navbar-nav ml-auto">
      <% if user_signed_in? %>
        <li>
          <%= link_to current_user.name, user_path(current_user.name_id), class: "btn rounded-pill" %>
        </li>
        <li>
          <%= link_to 'ツイート', new_user_diary_path(current_user.name_id), class: "btn rounded-pill", data: {"turbolinks" => false} %>
        </li>
        <li>
          <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "btn rounded-pill" %>
        </li>
      <% elsif admin_signed_in? %>
        <li>
          <%= link_to 'ユーザー', admin_users_path, class: 'btn rounded-pill' %>
        </li>
        <li>
          <%= link_to 'ログアウト', destroy_admin_session_path, method: :delete, class: 'btn rounded-pill' %>
        </li>
      <% else %>
        <li>
          <%= link_to 'about', about_path, class: "btn rounded-pill" %>
        </li>
        <li>
          <%= link_to '新規登録', new_user_registration_path, class: "btn rounded-pill", data: {"turbolinks" => false} %>
        </li>
        <li>
          <%= link_to 'ゲストログイン（閲覧用）', users_guest_sign_in_path, class: "btn rounded-pill", method: :post %>
        </li>
        <li>
          <%= link_to 'ログイン', new_user_session_path, class: "btn rounded-pill" %>
        </li>
      <% end %>
    </ul>
  </nav>