<div class="sidebar-fixed pl-3 d-none d-lg-block">

  <% if user_signed_in? %>
    <div class="pb-3">
      <%= link_to user_path(current_user.name_id) do %>
        <%= image_tag current_user.get_image(100,100), class: 'rounded-circle' %>
      <% end %>
    </div>

    <div class="pb-3">
      <%= link_to user_path(current_user.name_id), class: 'btn btn-lg btn-outline-secondary rounded-pill', style: 'outline: none' do %>
        <i class="fas fa-user"></i>My Page
      <% end %>
    </div>
    <div class="pb-3">
      <%= link_to root_path, class: 'btn btn-lg btn-outline-secondary rounded-pill', style: 'outline: none' do %>
        <i class="fas fa-home"></i>Home
      <% end %>
    </div>

    <div class="pb-3">
      <%= link_to history_user_diaries_path(current_user.name_id), class: 'btn btn-lg btn-outline-secondary rounded-pill', style: 'outline: none' do %>
        <i class="fas fa-history"></i>History
      <% end %>
    </div>
    <% if controller.controller_name == 'homes' %>
      <div class="pb-3">
        表示
      </div>
      <div class="pb-3">
        <%= link_to 'いいね', sort_path(word: 'いいね'), class: "btn btn-outline-info rounded-pill" %>
      </div>
      <div class="pb-3">
        <%= link_to 'コメント', sort_path(word: 'コメント'), class: "btn btn-outline-info rounded-pill" %>
      </div>
      <div class="pb-3">
        <%= link_to 'フォロー', sort_path(word: 'フォロー'), class: "btn btn-outline-info rounded-pill" %>
      </div>
      <div class="pb-3">
        <%= link_to 'FF公開限定', sort_path(word: 'FF公開限定'), class: "btn btn-outline-info rounded-pill" %>
      </div>
    <% end %>

  <% elsif admin_signed_in? %>
    <div class="pb-3">
      <h4>管理者ログイン中</h4>
    </div>

  <% else %>
  <% end %>

  <!--<button type="button" class="btn btn-primary mb-8" data-toggle="modal" data-target="#searchModal">カレンダー検索</button>-->

</div>
<div class="d-lg-none mb-3">
  <div class="col-12 row mx-auto p-0">


    <% if user_signed_in? %>
      <div class="col-12 row mx-auto justify-content-around">

        <div>
          <%= link_to user_path(current_user.name_id), class: 'btn btn-lg btn-outline-secondary rounded-pill', style: 'outline: none' do %>
            <i class="fas fa-user"></i>
          <% end %>
        </div>
        <div>
          <%= link_to root_path, class: 'btn btn-lg btn-outline-secondary rounded-pill', style: 'outline: none' do %>
            <i class="fas fa-home"></i>
          <% end %>
        </div>

        <div>
          <%= link_to history_user_diaries_path(current_user.name_id), class: 'btn btn-lg btn-outline-secondary rounded-pill', style: 'outline: none' do %>
            <i class="fas fa-history"></i>
          <% end %>
        </div>
        <% if controller.controller_name == 'homes' %>
          <div>
            <button class="btn btn-lg btn-outline-secondary rounded-pill" type="button" data-toggle="collapse" data-target="#collapseSidebar" aria-expanded="false" aria-controls="collapseSidebar">
              <i class="fas fa-bars"></i>
            </button>
          </div>
          <div class="collapse w-100 row justify-content-around pt-2" id="collapseSidebar">
            <div class="col-12 my-2">
              表示する投稿
            </div>
            <div>
              <%= link_to 'いいね', sort_path(word: 'いいね'), class: "btn btn-outline-info rounded-pill" %>
            </div>
            <div>
              <%= link_to 'コメント', sort_path(word: 'コメント'), class: "btn btn-outline-info rounded-pill" %>
            </div>
            <div>
              <%= link_to 'フォロー', sort_path(word: 'フォロー'), class: "btn btn-outline-info rounded-pill" %>
            </div>
            <div>
              <%= link_to 'FF公開', sort_path(word: 'FF公開限定'), class: "btn btn-outline-info rounded-pill" %>
              </div>
          </div>
        <% end %>
      </div>

    <% elsif admin_signed_in? %>
      <div class="pb-3">
        <h4>管理者ログイン中</h4>
      </div>

    <% else %>
    <% end %>

    <!--<button type="button" class="btn btn-primary mb-8" data-toggle="modal" data-target="#searchModal">カレンダー検索</button>-->
  </div>

</div>